*{
    background-color: black;
}

html{
    --color-princ:rgb(53, 137, 205);
    --color-secun:rgb(67, 3, 85);
    --color-terce:rgb(154, 205, 50);
}

body{
    display: flex;
    justify-content: center;
    padding: 0 0;
}

.container_header{
    width: 100%;
    height: 90%;  
    padding-top: 15px;
    display: flex;
    justify-content:space-between ;
}

nav{
    position: sticky;
    overflow: hidden ;
    box-shadow: 0.3125rem 0.3125rem 0.9375rem var(--color-princ); 
}

.main-nav{
    width: 80%;
    height: 6%;
    display: flex;
    justify-content: space-between;  
    padding: 1rem 10%
}

.main-nav a{
    text-decoration: none;
    margin-right: 20px;    
    display: inline-block;
    color: var(--color-secun);
    font-weight: bolder;
    text-transform: uppercase;
    font-size: 20px;
}

.main-nav a:hover{
    color: var(--color-princ);

}
/*------------------Estilos Contacta-------------------------*/

.container_index2{
    display: grid;
    grid-template-columns: auto 60%;
    justify-content: left; 
    margin-bottom: 20px;
}


.container_contacta{
    width: 100%;  
    color: white;
    background-color: black;
  
}

.container_contacta h2{
    color: var(--color-terce);
    font-size: 30px;
    text-align: center;    
    padding-top: 20px;
    padding-left: 100px;
}

.container_contacta h3{
    text-align: center;
    font-size: 20px;
    padding-left: 150px;
    text-indent: 2em hanging;
}

.gif{
    width: 30%;
    align-items:flex-start;
    border-radius: 50%;
    margin-left: 50%;
}

form{    
    margin-top: 20px;
    background-color:black;
    width: 100%;
    max-width: 400px;
    padding: 3.5rem 1.5rem;
    border-radius: 1rem; 
    margin-left: 30%;
    
}

.container_form{
    width: 100%;
    display: grid;
    grid-auto-columns: 100%;
    justify-content: center;
    gap: 1em;
}

.input_form{
    font-size: 1rem;
    padding: .5em 1em;
    outline: none;
    border: none;
    border: 1px solid var(--color-princ);    
    border-radius: 0.2em;
    color: white;
}

.message{
    height: 200px;
    resize: none;
    padding: .8em 1em;
    margin-bottom: 0.5em;
    color: white;
}

.input_enviar{
    font-size: 1rem;
    padding: .5em 1em;
    background-color: yellowgreen;
    font-weight: 500;
    font-size: 1em;
    border-radius: .2em;
    cursor: pointer;
}  



/* -----------------Estilos footer-----------------------------*/

footer {
    display: flex;
    flex-direction: column;
    justify-content: center;    
    background-color: black;
    padding: 20px;
    text-align: center;
    overflow: hidden ;
    box-shadow: 0.3125rem 0.3125rem 0.9375rem var(--color-princ);
}

.social img{
    display: inline-block;   
    margin: 0 30px;
    text-align: center;
    padding: 10px;
}

.social img:hover{
    transform: translate(-3px) scale(1.15);
    box-shadow: 0 5px 5px 0px var(--color-secun);
    filter: none;    
}

.firma{   
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 10px;
    color: white;
}

/*-----------Media Queries----------*/

@media (max-width:800px){
    .form{
        padding: 3.5em 1em;
    }

    .container_header{
        display: none;
    }

    .container_form{
        
        margin-right: 10px;
    }

    .nav{
        display: flex;
        flex-direction: column;
    }

    body{
        font-size:10px;
    }

    .social img{ 
        margin: 0 15px;
        padding: 5px;
    }

    .carta img{
        width: 20%;
    }

    .carta_2 img{
        width: 20%;
    }

    .container{
        display: flex;
        flex-direction: column;
        margin-bottom: 10px;
    }

    .footer{
        width: 50%;
    }
}
